<header>
    <div class = 'cabecalho-l'>
        <div class="logotop">
            <img class="topimg" src="/images/cafe-logo-header.jpg" alt="cafexpresso-header">
        </div>
        <div class = 'menutop'>
            <p><a href="../">Home</a></p>
        </div>
        <div class = 'menutop'>
            <p><a href="../produtos">Menu</a></p>
        </div>
        <div class= 'menutop'>
            <p><a href="../sobre">Sobre</a></p>
        </div>
    </div>
    <div class="cabecalho-r">
        <div class = 'menubusca'>
            <input type="text" placeholder="Busca" name="busca" id="busca">
            <button type="submit">Enviar</button>
        </div>
        <div class= 'loginbtn'>
            <% if(sessaoAtiva) { %>
                <p><a href="../admin/"><%= nome %></a> / <a href="../logout/">Logout</a></p>
            <%} else { %>
                <p><a href="../login">Login</a></p>
            <%} %>
        </div>
    </div>
    <div class = 'cabecalho-mini'>
        <div class="logo-mobile"></div>
        <a href="http://www.pudim.com.br" target="_blank">
            <div class="menu-mobile"></div>
        </a>
    </div>
</header>